@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --cor-de-fundo: #fcfcfc;
    --verde: #84bdff;
    --branco: #051129;
    --botao-ativo: #0574cf;
    --botao-inativo: rgba(230, 11, 3, 0.5);
    --texto-fundo: rgba(24, 72, 231, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Libre Baskerville', sans-serif;
}
